$chrs: #76798e;

.search_container{
  display: flex;
  //background: $primary;
  color: white;
  width:25%;
  height: auto;
  position: absolute;
  z-index: 11;
  top: 0%;
  right: 0%;
  margin: 1em;
  flex-direction: column;
  text-align: center;
  color: $chrs;
}

.custom_search_div{
  margin-top: 1em;

}

.custom_search_group{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 1em;
}


.searchGroup{
 width: 100%;
 display: flex;
 justify-content: center;

}

#search{
margin-bottom: 1em;
  width: 100%;
  margin-top: 1em;
}

.label_nis{
  margin: 1em;
}

.border_{
  border: 1px solid #57585A;
}

.address_container{
      background: #F2F2F4;
          color: #76798e;
}

.ui.divider{
   color: #76798e;
}

.btn_search_color{
  background: #f5515f !important;
  color:  #F2F2F4 !important;
}

.ui.message{
  width: 100%;
}


.ui.horizontal.divider{
  text-transform: capitalize;
}


.ui.input{
  width: 100%;
}

@media only screen and (max-width: 767px) and (orientation: portrait){
  .ui.input>input{
      width: 50% !important;
  }

}
