$primary: #F2F2F4;
$chrs: #76798e;
$secondary: #f5515f;

.symbology_container2{
  margin-top: 1em;
}

.report_button{
  width: 100%;
}

.symbology_container{
  display: flex;
  //background: $primary;
  color: white;
  width:25%;
  height: auto;
  position: absolute;
  z-index: 11;
  top: 0%;
  margin: 1em;
  flex-direction: column;
  text-align: center;
  color: $chrs;
}

.symbology_wrapper{
  background: $primary;
  height: 100%;
}

.symbology_title{
  background: $secondary;
  margin: 0px;
  padding: 9px;
  color: $primary;
}


.symbology_subtitle{
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.5em 1em 0.5em;
}

.symbology_subtitle h3{
  margin: 0;
}

.symbology_subtitle h4 {
   margin: 0.8em 0 0 0;
}


.symbology_image_range{
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol_{
  display: flex;
  padding: 0em 1em 1em 0.5em
}

.symbology_range{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    width: 100%;
}

.range{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2em 5em 1em 5em;
  width: 100%;
  justify-content: space-between;
  font-size: 14px;
}

.range_red{
  color: #64b964;
}

.range_orange{
  color: #F7FE2E;
}

.range_yellow{
  color: #5a9ba5;
}

.range_green{
  color: #FF4000;
}

.range_img{
  src: url('./images/tramo.png');
}

.help_icon{
  color: red;
  font-size: 1.5em;
}

.help_icon_text{
  font-size: 15px;
}

//01.08.2018
.symbology_mobile{
  display: flex;
  z-index: 12;
  top: 0%;
  position: absolute;
  margin: 1.2em;
  visibility: visible;
}

.btn_symbology_mobile{
  color: white !important;
  background-color: $secondary !important;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .ui.container{
    display: block;
    max-width: 100%!important;
    margin: 0 !important;
  }

  .symbology_container{
    //width: 45%;
    width: 85%;
  }

  .symbology_title h2 {
    font-size: 10px;
  }

  .symbology_subtitle h3{
      font-size: 9px;
  }

  .symbology_subtitle h4{
    font-size: 9px;
  }

  .range{
    font-size: 8px;
    padding: 1em;
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .ui.container{
    display: block;
    max-width: 100%!important;
    margin: 0 !important;
  }

  .symbology_container{
    width: 35%;
  }

  .symbology_title h2 {
    font-size: 10px;
  }

  .symbology_subtitle h3{
      font-size: 9px;
  }

  .symbology_subtitle h4{
    font-size: 9px;
  }

  .range{
    font-size: 9px;
  }
}



@media only screen and (max-width: 991px) and (min-width: 768px){
  .ui.container{
    display: block;
    max-width: 100%!important;
    margin: 0 !important;
  }

  .symbology_container{
    width: 30%;
  }

  .range{
    font-size: 9px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) and (orientation: portrait){
  .symbology_container {
    //width: 35%;
    width: 40%;
  }

}

@media only screen and (max-width: 1199px) and (min-width: 992px){
  .symbology_container{
    width: 30%;
  }
  .range{
    font-size: 9px;
    padding: 0.2em 10em 1em 8em;
  }
}


@media only screen and (max-width: 1366px) and (min-width: 1200px) and (orientation: landscape){
  .range{
    font-size: 13px;
    padding: 0.2em 5em 1em 5em;
  }

}


@media only screen and (max-width: 1440px) and (min-width: 1367px) and (orientation: landscape){
  .symbology_container{
    width: 22%;
  }

}


@media only screen and (max-width: 1920px) and (min-width: 1441px) {
  .symbology_container{
    width: 17%;
  }

}
