body {
  margin: 0;
}

#app , .map_container, #map{
  width: 100%;
  height: 100%;

}

.ui.message{
    width: 40%;
}

.map_container{
  width: 100% !important;
}

.esriSimpleSliderTL {
    bottom: 20px !important;
    right: 20px !important;
    top: auto;
    left: auto;
}

#BasemapToggle{
  position: absolute;
    z-index: 5;
    display: flex;
    bottom: 0.5em;
    margin: 0.5em;
}

@import "./components/togglerSymbology";
@import "./components/messageNotification";
@import "./components/Symbology";
@import "./components/tooltip";
